@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family: helvetica, opensans;
    background-color:#6ACBDF;
    
}

img {
	width: 100%;
    display: block;
    background-color:#6ACBDF;
}

body {
    margin: 0;
    padding: 0;
}

.logo {
  margin:0;
  display:block;
  padding-top: 8px;
}

.billboard {
    overflow: hidden;
    background-image:url(../images/bangle.JPG);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40rem;
}

h1 {
    margin: 8rem 0;
    text-align: right;
    color: white;
    font-weight:lighter;
    font-size: 3.25rem;
    font-family: 'great vibes', cursive;
    padding: 0 5%;
    letter-spacing: .1rem;
}

article {
    margin: 0;
    padding: 1rem 5%;
}

h2{ 
    text-align:center;
    margin:0;
    padding: 0;
    font-family: great vibes, cursive;
    color: 3A5CAC;
}

.nav-top {
    clear: both;
}

.nav-top ul {
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
}

.nav-top li {
    display: inline;
    margin: 0;
    padding: 0;
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited {
    display: inline-block;
    margin: 0;
    padding: 1.5rem 10%;
    color: black;
    font-size: 1.25rem;
}

.selected {
    background-color: #666;
}


figure {
    margin: 0 auto 1.5rem;
    width: 60%;
}

figure a,
figure a:link,
figure a:visited {
    font-size: .875rem;
    color: black;
    text-decoration: none;
    background-color:#6ACBDF;
    border-radius: px;
}

footer {
    margin: 0;
    padding: 1.5rem 5% 6rem;
    background-color:#6ACBDF;
    font-size:2rem;
    color: white
}

.nav-;bottom ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bottom a,
.nav-bottom a:link,
.nav-bottom a:visited {
    color:white;
    text-decoration:none;
    font-size:.875rem;
    line-height: 1.5rem;
}