@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family: helvetica, serif;
    background-color: white;
    
}

img {
	width: 100%;
    display: block;
    background-color:#6ACBDF;
}

body {
    margin: 0;
    padding: 0;
}

article {
    margin: 0;
    padding:0;
}

header {
    background-color: #6acbdf;
}

.logo {
    float:left;
    margin:0;
    width:10rem;
    padding: 1rem;
}

.nav-top {
    clear: both;
}

.nav-top ul {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    text-align: center;
}

.nav-top li {
    display: inline;
    margin: 0;
    padding: 0;
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited {
    display: inline-block;
    margin: 0;
    padding: 1.5rem 10%;
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
    font-family: 'opensans';
}

.selected {
    background-color:#6acbdf ;
}

article {
    margin: 0;
    padding:0;
}

h1 {
    font-size: 4rem;
    font-family: 'great vibes';
    color: #6acbdf;
    padding:1rem;
    margin:0;
    text-align: center;
    background-color: 
}

figure {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'great vibes';
    text-align: center;
    background-color: #6acbdf;
    color:white;
    font-weight:normal;
    font-size:1.5rem;
    margin: 0;
    padding:1rem;
    height:4rem;
}

.bucket1 { 
    overflow:  hidden;
    background-color: white;
}

.bucket1 figure {
    margin: .5rem;
    padding: 0;
    overflow:hidden;
    border-radius: 10px;
    border:7px solid lightgray;
    display:inline-block;
    background-color: white;
}

.bucket1 a,
.bucket1 a:link,
.bucket1 a:visited {
    float: left;
    width: 45%;  
    margin: 0 10% 1.5rem 0; 
    padding: 0;
    text-decoration: none;
    font-family: 'helvetica';
    font-size: 1rem;
    color:#6acbdf;
    text-align: center;
    background-color: white;
}

.bucket1 a:nth-child(even) {
    margin: 0;     
}

h3 {
    font-family: 'opensans';
    font-size: .5rem;
    margin: .5rem;
    padding:0;
    font-weight: normal;
    color: white;
    text-align: right;
}

.nav-bottom ul {
    list-style-type: none;
    margin:.5rem;
    padding:0;
}

.nav-bottom a,
.nav-bottom a:link,
.nav-bottom a:visited {
    color:white;
    font-family: 'opensans';
    text-decoration:none;
    font-size:.875rem;
    line-height: 1.5rem;
}

p {
    font-family: 'opensans';
    margin: 1rem;
    font-size: 1rem;
}

.bucket3 {
    overflow: hidden;
    margin: 1rem 0 1.5rem;
    padding: 0;
}

.bucket3 img {
    float: left;
    width: 45%; 
    margin: 0 5% 0 0;
    padding: 0;
    overflow:hidden;
    border-radius: 10px;
    border:7px solid lightgray;
    display:inline-block;
}

.bucket3 figcaption {
    float: right;
    width: 50%;
    margin:0;
    padding:0;
    font-family: 'opensans';
    font-size: 1rem;
    color: black;
}

footer {
    background-color: #6acbdf;
    margin:0;
    padding:.2rem;
    height:6rem;
}